<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        
        <img class="portrait" src="/img/testing-png-free-testingpng-transparent-images-9986-pngio-this-is-a-test-png-512_512.png">
        <h1>{{title}}</h1>

        <form>
            <input type="text" placeholder="Address">
            <button>Show weather</button>
        </form>
    </div>

    {{>footer}} 

    <script src="/js/app.js"></script>
</body>
</html>